altgraph==0.17.2
astroid==2.11.5
attrs==21.4.0
bandit==1.7.4
beautifulsoup4==4.11.1
certifi==2022.5.18.1
charset-normalizer==2.0.12
coverage==6.3.3
cyclonedx-bom==3.2.1
cyclonedx-python-lib==2.4.0
dill==0.3.5.1
flake8==4.0.1
gitdb==4.0.9
GitPython==3.1.27
idna==3.3
iniconfig==1.1.1
isort==5.10.1
Jinja2==3.1.2
lazy-object-proxy==1.7.1
MarkupSafe==2.1.1
mccabe==0.6.1
packageurl-python==0.9.9
packaging==21.3
pbr==5.9.0
pdoc==12.0.0
pip-requirements-parser==31.2.0
platformdirs==2.5.2
pluggy==1.0.0
py==1.11.0
pycodestyle==2.8.0
pyflakes==2.4.0
Pygments==2.12.0
pyinstaller==5.1
pyinstaller-hooks-contrib==2022.5
pylint==2.13.9
pyparsing==3.0.9
PySimpleGUI==4.60.0
pytest==7.1.2
PyYAML==6.0
requests==2.27.1
smmap==5.0.0
soupsieve==2.3.2.post1
stevedore==3.5.0
toml==0.10.2
tomli==2.0.1
types-setuptools==57.4.14
types-toml==0.10.7
urllib3==1.26.9
wrapt==1.14.1
